{% extends 'Authentication/index.html' %}
{% load widget_tweaks %}
{% block content %}

<form method="post" class="form">
    {% csrf_token %}
    <p class="title">EduBridge </p>
   <h4 class="text-center">Login</h4>
  
        <label for="username" >username:</label>
        <input class="form-control w-100 d-block" type="text" name="username" placeholder="" required="">

        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="" required="">

    <button class="submit btn-block btn btn-success">Submit</button>
    <p class="signin">Don't have an acount ? <a href="{% url 'register' %}">Signup here</a> </p>

</form>

{% endblock content %}