{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

<!-- Hero section -->
<div class="container">
  <div class="col ">
    <div class="online">
      <div class="online-text">
        <h2 >One platform,</h2>
        <p class="text-muted"><span class="limitless">limitless learning</span><br> EduBridge is the educational LMS <br> engineered to support students to complete courses.</p>
        <a href="{% url 'register' %}" class="button btn btn-primary btn-xl">Get started</a>
      </div>
      <div class="online-img">
        <img src="{% static 'Student boy.gif' %}">
      </div>
    </div>
  </div>
</div>

<!-- image carousel -->
<div id="carouselExampleSlidesOnly" class="carousel image-carousel block slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'less.jpg' %}" class="d-block" height="564px" width="864px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'fess.jpg' %}" class="d-block " height="564px" width="864px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'student1.jpg' %}" class="d-block " height="564pxs" width="864px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
  </div>
</div>




<!-- Time section -->
<section>
<div class=" block time">
  <div class="col">
    <div class="time">
      <div class="time-img">
        <img src="{% static 'Waiting Girl.gif' %}">
      </div>
      <div class="time-text">
        <h2 class="text-muted">The Power of Flexible Course <br>Completion.</h2>
        <h1>Learn Anytime,<br> Anywhere</h1>
        <a href="{% url 'courses' %}">Explore courses</a>
      </div>
    </div>
  </div>
</div>
</section>


<!-- Key features -->
<div class="container Key-features block">
  <p class="display-3 text-muted text-center">Key features</p>
  <div class="col d-flex">
    <div class="cards-wrapper1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center card-heading">Progress Tracking</h5>
          <div class="card-text">
            <ul>
              <li>Real-time analytics</li>
              <li>Certificate of completion</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-wrapper1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center card-heading">Interactive Tools</h5>
          <div class="card-text">
            <ul>
              <li>Quizzes and assessments</li>
              <li>Discussion forums and peer review</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-wrapper1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center card-heading">Expert Instructors</h5>
          <div class="card-text">
            <ul>
              <li>1,000+ experienced educators</li>
              <li>Live sessions and Q&A</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- featured-courses -->
<section>
<div class="block flex-block">
  <p class="display-3 text-muted text-center block">Featured courses</p>
  <div class="course-flex">
    {% for course in courses %}
    <div class="card" style="width: 18rem; height: 23em;" h>
      <img src="{{course.course_image_cover.url}}" style="height: 11em;" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">{{course.course_name}}</h5>
        <p class="card-text">{{course.course_creator}}</p>
        <a href="{% url 'course-detail' course.id %}" class="btn btn-primary">view course</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</section>

{% endblock content %}