{% extends 'classroom/base.html' %}
{% load widget_tweaks %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="post-assignment ">
        <h2>Create an Assigment</h2>
        <div class="form-group">
            <label for="title">title:</label>
            {% render_field form.title class+="form-control" %}
        </div>
        <div class="form-group">
            <label for="description">description:</label>
            {% render_field form.description class+="form-control" %}
        </div>
        <div class="form-group">
            <label for="due_date">due date:</label>
            {% render_field form.due_date class+="form-control" %}
        </div>
        <button class="btn">submit</button>
    </div>
</form>
{% endblock content %}