 .form1{
    width: 30%;
    transform: translateX(120%);
    background:lightgrey;
    border-radius: 16px;
}
.register{
    padding:16px;
}
form .submit{
    margin-top: 22px;
}
.form{
    width: 30%;
    transform: translate(120%,60%);
    background:lightgrey;
    border-radius: 16px;
    padding:16px;
}
.title{
    color: lightseagreen;
}