body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #2C2C34;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    padding: 22px;
}

.auth a{
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 19px;
    transition: .4s;
}
.auth a:hover{
    color: white;
    background-color: #4CAF50;
}

.form-parent{
    padding: 12px;
    display: inline-block;
    position: relative;
    width: 30%;
    transition: 0.4s;
}
.input-search{
    border: 1px solid rgb(181, 206, 253);
    border-radius: 12px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
    
}
.form-parent:hover{
    scale: 0.9;
}
.input-search:focus{
    border-color: rgb(181, 206, 253);
    outline: none;
}
.input-btn{
    padding: 5px 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 19px;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.input-btn, .input-search {
    box-shadow: 1px 4px 6px 0 rgba(22, 22, 26, 0.18);
}
.brand{
    display: flex;
    margin-top: 6px;
    position: relative;
    top: 10px;
}
.brand h4{
    color: rgb(75, 74, 74);
    position: relative;
    font-size: 26px;
    bottom: 12px;
    left: 1px;
}
.brand img{
    width: 42px;
    height: 42px;
    position: relative;
    left: 2.4em;
    bottom: 4px;
    z-index: 0;
}

.brand a{
    color: black;
    text-decoration: none;
    font-size: 22px;
}
.nav-links a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    padding: 6px;
    transition: .4s;
}
.nav-links a:hover{
    color: lightgrey;
}

.online-img img{
    width: 544px;
    height: 544px;
    overflow: hidden;
    
}

.online{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C2C34;
}
.online-text h2{
    font-size:50px;
    letter-spacing: 6px;
    color: blue;
}
.online-text p{
    font-size:26px;
    letter-spacing: 1px;
    font-family: monospace;
}
.online-text{
    margin-left: 46px;
}
.online-img{
    margin-right: 12px;
}
.courses{
    margin-top: 4em;
}
.limitless{
    font-size:36px;
    font-weight: bold;
    letter-spacing: 4px;
    color:green;
}
.online a{
   transition: .4s;
}

.button:hover{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    scale :1.1;
}
.carousel-inner img{
    position: relative;
    left: 15em;
}
.time{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #F8F9FF;
    margin-top:6em;
    padding: 22px;

}
.time-img img{
    width: 522px;
    height: 522px;
}

.time-text a {
    font-size: 24px;
    text-align: center;
}
.time-text h1{
    color: rosybrown;
    font-size:66px ;
}
.time-text h2{
    font-size:46px ;
}
.cards-wrapper1{
    width: 26em;
    height: 12em;
}
.Key-features{
    margin-top: 14rem;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
  margin: 4px;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}

ul{
    list-style-type: none;
}
.course-card-image img{
    width: 270px;
    height: 270px;
}

.course-card{
    margin: 6em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    width: 270px;
}
.detail{
    margin: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.detail img{
    text-wrap: wrap;
}
.d-text h2{
text-decoration: underline;
}
.d-text p{
    font-size:larger;
}
@keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
  
    to {
      opacity: 1;
      scale: 1;
    }
  }
  
  .block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }

 

 .card-heading{
    background-color: #2D1A4C;
    color: white;
    width: 100%;
    display: block;
    padding: 12px;
 }
 .card{
    border: 1px solid grey;
 }
 .card-container{
    padding: 24px;
 }
 .card-text ul{
    font-size: 16px;
 }
 .assignments h2{
    color: rgb(7, 104, 104);
 }
 .time h2{
    color: green;
 }
 .image-carousel h5{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
 }
 .image-carousel p{
    font-size: 16px;
    font-family: monospace;
    font-weight: 900;
 }

 .assignment{
    padding: 20px;
    margin: 20px;
    position: relative;
    box-shadow: 1px 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 14px;
    background-color: rgb(245, 244, 244);
    color: rgb(37, 37, 37);
    text-align: center;
 }
 .assignment:hover{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
 }
 .grade-headings{
    margin-top:16px;
    padding:26px;
    height: 84vh;
    background-color: rgb(245, 244, 244);
    box-shadow: 1px 4px 6px 0 rgba(22, 22, 26, 0.18);
}
.grade-headings:hover{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.grade-headings h1{
    margin: 32px 0px;
}
.grade-headings .small-text{
    font-size:30px;
}
 .grade-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
 }
 .grade-form{
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
 }
 
.form-text{
    background-color: rgb(245, 244, 244);
    padding: 16px;
    margin: 16px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 1px 4px 6px 0 rgba(22, 22, 26, 0.18);
}
.form-text:hover{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.post-assignment {
    margin-top: 2em;
    padding: 2em;
}
.submit-assignment{
    margin-top: 4em;
    padding: 2em;
}

.submit-assignment h2 {
    text-align: center;
}
.submit-assignment h5{
    text-align: center;
    margin: 4px;
}
.container-course{
    display: flex;
}
.submission-list{
    padding: 4em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 244, 244);
    border-radius: 6px;
    box-shadow: 1px 4px 6px 0 rgba(22, 22, 26, 0.18);
}
.submission-list h2,h4,h6,a,h5{
    padding: 14px;
}

.submission-list:hover{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.course-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-block{
    margin-top: 12rem;
}
.course-flex .card{
    padding: 2px;
    height: 12em;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(0, 0, 0, 0.18);
}

section{
    height: 100vh;
    justify-content: center;
    align-items: center;
}